body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  min-width: 960px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.cards-section {
  margin-bottom: 54px;
}

.main-header {
  background-color: rgb(243, 247, 249);
  background-image: url('../img/gray-background.jpg');
  padding-bottom: 60px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
}

.visually-hidden {
  display: none;
}

.main-header .loft-section {
  font-family: 'Cuprum', 'Arial', sans-serif;
  background-color: rgb(41, 52, 73);
}

.loft-section a {
  color: rgb(255, 255, 255);
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.main-header .logo {
  width: 110px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 13px;
  padding-bottom: 7px;
  background-color: rgb(238, 54, 67);
  box-shadow: 0 5px 0 rgb(181, 41, 51);
}

.main-header .logo:hover,
.main-header .logo:focus {
  background-color: rgb(202, 44, 55);
  box-shadow: 0 5px 0 rgb(154, 33, 42);
}

.main-header .logo:active {
  background-color: rgb(186, 39, 50);
  box-shadow: 0 5px 0 rgb(142, 30, 38);
}

.main-header .index-logo:hover,
.main-header .index-logo:focus,
.main-header .index-logo:active {
  background-color: rgb(238, 54, 67);
  box-shadow: 0 5px 0 rgb(181, 41, 51);
}

.search-functions form {
  width: 270px;
}

.search-functions .favorites,
.buy-functions .basket,
.buy-functions .checkout {
  width: 150px;
  padding-top: 12px;
  box-sizing: border-box;
}

.search-functions .search-label {
  min-height: 42px;
  display: block;
  position: relative;
  background-color: rgb(41, 52, 73);
}

.search-label svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-label input {
  margin: 0;
  padding: 0;
  margin-left: 48px;
  margin-top: 12px;
  width: 200px;
  background-color: inherit;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  border: none;
  color: rgb(0, 0, 0);
}

.search-label input::-webkit-input-placeholder {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.search-label:hover,
.favorites:hover,
.favorites:focus,
.basket:hover,
.basket:focus {
  background-color: rgb(33, 42, 58);
}

.favorites:hover svg,
.favorites:focus svg,
.basket:hover svg,
.basket:focus svg,
.search-label:hover svg {
  fill: rgba(255, 255, 255, 1);
}

.search-functions .search-label-current,
.search-functions .search-label-current:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.search-label-current svg,
.search-label-current:hover svg {
  fill: rgb(238, 54, 67);
}

.search-functions .favorites {
  position: relative;
  padding-left: 45px;
}

.basket {
  position: relative;
  padding-left: 50px;
}

.favorites svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.basket svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.favorites:active,
.basket:active {
  background-color: rgb(22, 29, 41);
  opacity: 0.6;
}

.favorites:active svg,
.basket:active svg {
  fill: rgba(255, 255, 255, 0.5);
}

.buy-functions .complete-basket {
  background-color: rgb(238, 54, 67);
}

.buy-functions .complete-basket:hover,
.buy-functions .complete-basket:focus {
  background-color: rgb(202, 44, 55);
}

.buy-functions .complete-basket:focus {
  background-color: rgb(186, 39, 50);
}

.buy-functions .checkout {
  background-color: rgb(99, 166, 62);
  text-align: center;
}

.buy-functions .checkout:hover,
.buy-functions .checkout:focus {
  background-color: rgb(95, 187, 45);
}

.buy-functions .checkout:active {
  opacity: 0.51;
}

.main-header-brief-section {
  padding-top: 45px;
  padding-bottom: 40px;
}

.main-header-brief-info {
  width: 200px;
  margin-top: 4px;
  margin-left: 53px;
  margin-right: 67px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: rgb(238, 54, 67);
}

.main-header-contacts {
  flex-direction: column;
}

.main-header-contacts a {
  box-sizing: border-box;
  position: relative;
  width: 270px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 71px;
  border: 3px solid rgb(255, 255, 255);
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(238, 54, 67);
}

.main-header-contacts a::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
}

.main-header-contacts .address {
  padding-top: 3px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(50, 66, 92);
  align-self: center;
}

.user-functions {
  width: 300px;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.user-functions-btn {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.user-functions .login {
  width: 120px;
  margin-right: 10px;
}

.login a {
  position: relative;
  padding-left: 46px;
}

.login .icon {
  position: absolute;
  top: 15px;
  left: 13px;
}

.user-functions .check-in {
  width: 150px;
  text-align: center;
}

.profile a {
  position: relative;
  width: 260px;
  padding-left: 48px;
  box-sizing: border-box;
}

.profile .icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.logout a {
  padding-top: 13px;
  padding-bottom: 9px;
  padding-right: 10px;
  padding-left: 9px;
}

.my-orders,
.account-info {
  margin-top: 5px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: underline;
}

.my-orders {
  position: relative;
  margin-right: 33px;
}

.my-orders::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(50, 66, 92);
  top: 7px;
  right: -18px;
}

.my-orders a,
.account-info a {
  color: rgb(50, 66, 92);
}

.account-info {
  margin-right: 72px;
}

.user-functions-btn:hover,
.user-functions-btn:focus,
.my-orders a:hover,
.my-orders a:focus,
.account-info a:hover,
.account-info a:focus {
  color: rgb(238, 54, 67);
}

.user-functions-btn:hover svg,
.user-functions-btn:focus svg {
  fill: rgb(50, 66, 92);
}

.user-functions-btn:active,
.my-orders a:active,
.account-info a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
}

.user-functions-btn:active svg {
  fill: rgb(197, 197, 197);
}

.main-header-navigation .site {
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 5px solid rgb(41, 52, 73);
}

.main-header-navigation .site,
.main-footer-navigation .site {
  background-color: rgb(50, 66, 92);
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header-navigation a {
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-header-navigation a,
.main-footer-navigation a {
  display: block;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.products a {
  color: rgb(255, 209, 128);
}

.main-header-navigation a:hover,
.main-header-navigation a:focus {
  background-color: rgb(41, 52, 73);
}

.main-header-navigation a:active {
  opacity: 0.5;
}

.main-header-navigation .current:hover,
.main-header-navigation .current:focus,
.main-header-navigation .current:active,
.main-footer-navigation .current:hover,
.main-footer-navigation .current:focus,
.main-footer-navigation .current:active {
  background-color: rgb(50, 66, 92);
  opacity: 1;
  text-decoration: none;
}

.breadcrumbs {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 15px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:not(:first-child)::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  left: -23px;
  background-image: url('../img/icon-right-small.svg');
  background-repeat: no-repeat;
}

.breadcrumbs .home {
  margin-top: 3px;
  margin-left: -1px;
  display: block;
  width: 16px;
  height: 12px;
  background-image: url('../img/icon-home.svg');
  background-repeat: no-repeat;
}

.breadcrumbs a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.page-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;
  margin-bottom: 20px;
  background-color: rgb(242, 246, 248);
}

.page-title h1 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
}

.filtration {
  position: relative;
  width: 220px;
  margin-right: 20px;
}

.sort-and-goods-section {
  width: 700px;
}

.filtration ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filtration .filter {
  margin-bottom: 12px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 19px;
  background-color: rgb(247, 243, 236);
  border-radius: 2px;
}

.filter span,
.sort-by .sort {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.filtration .price,
.filtration .vendors,
.filtration .power-supply {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.range-filter {
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(229, 229, 229);
  margin-bottom: 16px;
}

.range-filter .range-controls {
  box-sizing: border-box;
  position: relative;
  height: 80px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 13px;
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgb(247, 243, 236);
}

.range-controls .scale {
  height: 2px;
  background: rgb(215, 220, 222);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: rgb(0, 202, 116);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid white;
  border-radius: 50%;
  background: rgb(171, 171, 171);
  box-shadow: 0 2px 1px 0 rgb(224, 221, 216);
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
}

.price-controls::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: 17px;
  right: 105px;
  background-color: rgb(0, 0, 0);
}

.price-controls .min-price,
.price-controls .max-price {
  box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 11px;
  width: 95px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(247, 243, 236);
  border: none;
  border-radius: 2px;
}

.price-controls .max-price {
  margin-left: auto;
}

.filtration input[type='radio'],
.filtration input[type='checkbox'] {
  display: none;
}

.vendor-filter li,
.power-supply-filter li {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 34px;
}

.vendor-filter li:first-child {
  margin-top: 3px;
}

.vendor-filter li:last-child {
  margin-bottom: 10px;
}

.vendor-filter input + label {
  position: relative;
  cursor: pointer;
}

.vendor-filter input + label::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 23px;
  top: -3px;
  left: -34px;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}

.vendor-filter input + label:hover::before,
.vendor-filter input + label:focus::before {
  background-image: url('../img/checkbox-off-hover.svg');
}

.vendor-filter input:checked + label::before {
  background-image: url('../img/checkbox-on.svg');
}

.vendor-filter input:checked + label:hover::before {
  background-image: url('../img/checkbox-on-hover.svg');
}


.filtration .vendor-filter {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.filtration .power-supply {
  display: block;
  margin-top: 20px;
  margin-bottom: 3px;
}

.power-supply-filter input + label {
  position: relative;
  cursor: pointer;
}

.power-supply-filter input + label::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: -4px;
  left: -35px;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
}

.power-supply-filter input + label:hover::before,
.power-supply-filter input + label:focus::before {
  background-image: url('../img/radio-off-hover.svg');
}

.power-supply-filter input:checked + label::before {
  background-image: url('../img/radio-on.svg');
}

.power-supply-filter input:checked + label:hover::before,
.power-supply-filter input:checked + label:focus::before {
  background-image: url('../img/radio-on-hover.svg');
}

.vendor-filter label,
.power-supply-filter label {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.filtration .btn {
  position: absolute;
  top: 708px;
  left: 0px;
  box-sizing: border-box;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
  cursor: pointer;
}

.sort-by {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 19px;
  background-color: rgb(247, 243, 236);
  border-radius: 2px;
}

.sort-by .sort {
  margin-right: 140px;
}

.kind-of-sort button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

.kind-of-sort .sort-btn {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.kind-of-sort .sort-btn:enabled {
  border-bottom: 1px dotted rgb(238, 54, 67);
  cursor: pointer;
}

.kind-of-sort .sort-btn:hover:enabled,
.kind-of-sort .sort-btn:focus:enabled {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(238, 54, 67);
}

.kind-of-sort .sort-btn:disabled,
.kind-of-sort .sort-btn:hover:disabled,
.kind-of-sort .sort-btn:focus:disabled,
.kind-of-sort .sort-btn:active:enabled {
  color: rgb(238, 54, 67);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.kind-of-sort .by-price {
  margin-right: 70px;
}

.kind-of-sort .by-type {
  margin-right: 65px;
}

.kind-of-sort .by-functional {
  margin-right: 47px;
}

.kind-of-sort .sort-direction {
  position: relative;
  font-size: 0;
  width: 11px;
  height: 11px;
}

.kind-of-sort .sort-direction:enabled {
  cursor: pointer;
}

.kind-of-sort .up {
  margin-right: 21px;
}

.kind-of-sort .up::before {
  content: '';
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid rgb(197, 197, 197);
  top: 4px;
  left: 0px;
}

.kind-of-sort .up:hover:enabled::before,
.kind-of-sort .up:focus:enabled::before {
  border-bottom: 10px solid rgb(35, 31, 32);
}

.kind-of-sort .up:disabled::before,
.kind-of-sort .up:hover:disabled::before,
.kind-of-sort .up:focus:disabled::before,
.kind-of-sort .up:active:disabled::before {
  border-bottom: 10px solid rgb(238, 54, 67);
}

.kind-of-sort .down::before {
  content: '';
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid rgb(197, 197, 197);
  top: 4px;
  left: 0px;
}

.kind-of-sort .down:hover:enabled::before,
.kind-of-sort .down:focus:enabled::before {
  border-top: 10px solid rgb(35, 31, 32);
}

.kind-of-sort .down:disabled::before,
.kind-of-sort .down:hover:disabled::before,
.kind-of-sort .down:focus:disabled::before,
.kind-of-sort .down:active:enabled::before {
  border-top: 10px solid rgb(238, 54, 67);
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  z-index: 10;
}

.flag-new{
  background-image: url('../img/flag-new.png');
  background-repeat: no-repeat;
}

.product-categories {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 59px;
  margin-bottom: 20px;
}

.product-categories .flag-new {
  top: 0px;
  right: 0px;
}

.product-categories li {
  width: 300px;
  min-height: 123px;
  margin-right: 20px;
}

.product-categories li:last-child {
  margin-right: 0;
}

.product-categories h2,
.special-offers h2 {
  margin: 0;
  padding: 0;
  margin-left: 22px;
  margin-top: 21px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.category-btn {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 135px;
  display: block;
  padding-top: 12px;
  padding-bottom: 11px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.category-btn:hover,
.category-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-btn:active {
  background-color: rgba(0, 0, 0, 0.3)
}

.product-categories .material {
  position: relative;
  background-color: rgb(255, 191, 71);
}

.product-categories .material:after {
  content: '';
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
  background-image: url('../img/material.svg');
  background-repeat: no-repeat;
}

.product-categories .instrument {
  position: relative;
  background-color: rgb(59, 188, 227);
}

.product-categories .instrument:after {
  content: '';
  position: absolute;
  width: 75px;
  height: 61px;
  top: 33px;
  right: 28px;
  background-image: url('../img/instrument.svg');
  background-repeat: no-repeat;
}

.product-categories .technic {
  position: relative;
  background-color: rgb(220, 145, 216);
}

.product-categories .technic:after {
  content: '';
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
  background-image: url('../img/technic.svg');
  background-repeat: no-repeat;
}

.red-btn {
  margin: 0;
  padding: 0;
  display: block;
  padding-top: 11px;
  padding-bottom: 9px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  border-radius: 3px;
  border: none;
}

.red-btn:hover,
.red-btn:focus {
  background-color: rgb(202, 44, 55);
}

.red-btn:active {
  background-color: rgb(186, 39, 50);
}

.slider {
  position: relative;
}

.slider input {
  display: none;
}

.slider-controls label {
  position: absolute;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 5;
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

.slider-controls label[for='btn-1'] {
  top: 220px;
  left: 295px;
}

.slider-controls label[for='btn-1']::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 40px;
  top: -106px;
  left: -270px;
  background-image: url('../img/icon-left.svg');
  background-repeat: no-repeat;
}

.slider-controls label[for='btn-2'] {
  top: 220px;
  left: 315px;
}

.slider-controls label[for='btn-2']::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 40px;
  top: -106px;
  left: 263px;
  background-image: url('../img/icon-right.svg');
  background-repeat: no-repeat;
}

#btn-1:checked ~ .slider-controls label[for='btn-1'],
#btn-2:checked ~ .slider-controls label[for='btn-2'] {
  background-color: rgb(238, 54, 67);
}

#btn-1:checked ~ .slider-inner .slides {
  transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slides {
  transform: translate(-620px);
}

.slider-inner {
  overflow: hidden;
}

.slider-inner .slides {
  width: 200%;
}

.slider h2 {
  margin: 0;
  padding: 0;
  margin-left: 24px;
  margin-top: 21px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.slider span {
  margin-left: 24px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.slider-btn {
  box-sizing: border-box;
  position: absolute;
  width: 195px;
  bottom: 22px;
  left: 25px;
}

.slide {
  float: left;
  position: relative;
  width: 620px;
  height: 266px;
}

.puncher {
  background-image: url('../img/slider-puncher.jpg');
  background-repeat: no-repeat;
}

.drill {
  background-image: url('../img/slider-drill.jpg');
  background-repeat: no-repeat;
}

.special-offers {
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.special-offers .sale {
  position: relative;
  background-color: rgb(142, 215, 143);
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
}

.special-offers .sale:after {
  content: '';
  position: absolute;
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
  background-image: url('../img/sale.svg');
  background-repeat: no-repeat;
}

.special-offers .delivery {
  position: relative;
  background-color: rgb(255, 192, 71);
  width: 300px;
  min-height: 123px;
}

.special-offers .delivery:after {
  content: '';
  position: absolute;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
  background-image: url('../img/delivery.svg');
  background-repeat: no-repeat;
}

.popular-goods,
.popular-vendors {
  background-color: rgb(249, 245, 240);
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  margin-bottom: 19px;
}

.popular-vendors {
  margin-top: 1px;
  margin-bottom: 20px;
}

.popular-goods h1,
.popular-vendors h1 {
  margin: 0;
  padding: 0;
  margin-left: 28px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
}

.popular-vendors h1 {
  margin-left: 25px;
}

.catalog-btn {
  width: 253px;
  margin-right: 24px;
}

.goods,
.vendors {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods-item,
.vendors-item {
  margin-bottom: 20px;
  width: 218px;
  border: 1px solid rgb(234, 234, 234);
}

.vendors-item {
  min-height: 143px;
}

.vendors-item a {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.goods-item {
  position: relative;
  flex-direction: column;
  min-height: 316px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
  text-align: center;
}

.goods-item h2 {
  margin: 0 25px;
  margin-top: 20px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  color: rgb(0, 0, 0);
}

.goods-item .old-price,
.goods-item .current-price {
  font-size: 17px;
  line-height: 18px;
}

.goods-item .old-price {
  min-height: 20px;
  margin-top: 11px;
  text-decoration: line-through;
  color: rgb(169, 169, 169);
}

.goods-item .current-price {
  position: absolute;
  box-sizing: border-box;
  bottom: 20px;
  left: 42px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 26px;
  padding-right: 30px;
  width: 142px;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  border-radius: 3px;
}

.goods-item .current-price:after {
  content: '';
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: rgb(238, 54, 67);
}

.goods-item .actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  min-height: 88px;
  padding: 40px 0;
  background-color: rgb(255, 255, 255);
  z-index: 5;
}

.actions .buy,
.actions .bookmark {
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 7px;
  width: 135px;
  padding: 13px 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.actions .buy {
  padding-left: 49px;
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(99, 166, 62);
  box-shadow: inset 0 -3px 0 0 rgb(54, 115, 21);
}

.actions .buy::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 14px;
  width: 15px;
  height: 15px;
  background-image: url('../img/buy-icon-opacity-0.3.svg');
  background-repeat: no-repeat;
}

.actions .buy:hover,
.actions .buy:focus {
  background-color: rgb(95, 187, 45);
  box-shadow: inset 0 -3px 0 0 rgb(54, 115, 21);
}

.actions .buy:active {
  background-color: rgb(81, 133, 52);
  box-shadow: inset 0 -3px 0 0 rgb(81, 133, 52);
}

.actions .buy:hover::before,
.actions .buy:focus::before,
.actions .buy:active::before {
  background-image: url('../img/buy-icon-opacity-1.0.svg');
}

.actions .bookmark {
  padding-left: 36px;
  color: rgb(50, 66, 92);
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 0 3px rgb(99, 166, 62);
}

.actions .bookmark:hover,
.actions .bookmark:focus {
  box-shadow: inset 0 0 0 3px rgb(50, 66, 92);
}

.actions .bookmark:active {
  color: rgb(50, 66, 92);
  box-shadow: inset 0 0 0 3px rgb(50, 66, 92);
  opacity: 0.3;
}

.goods-item:hover .actions,
.goods-item:focus .actions {
  display: block;
}

.goods-item:hover,
.goods-item:focus,
.vendors-item a:hover,
.vendors-item a:focus {
  box-shadow: 10px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.vendors-item a:active {
  box-shadow: 4px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.services {
  background-color: rgb(243, 247, 249);
  background-image: url('../img/gray-background.jpg');
  margin-top: 65px;
  margin-bottom: 80px;
  padding-top: 68px;
  padding-bottom: 20px;
}

.services h1,
.services h2 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.services h1 {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.services h2 {
  margin-top: 5px;
  font-size: 36px;
  color: rgb(50, 66, 92);
}

.services p {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 400px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.services .slider-2 {
  margin-top: 68px;
}

.slider-2 .btn-container {
  position: relative;
  width: 240px;
  flex-direction: column;
  margin-right: 80px;
}

.slider-2 .btn-container::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 272px;
  top: -50px;
  right: 0px;
  background-image: url('../img/slider-2-decor.png');
  background-repeat: no-repeat;
}

.btn-container .service-btn {
  margin: 0;
  padding: 0;
  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 17px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  border: none;
  border-radius: 0;
}

.btn-container .service-btn:enabled {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 66, 92);
  box-shadow:
    inset 0 1px 0 0 rgb(64, 80, 105),
    inset 0 -1px 0 0 rgb(41, 52, 73);
}

.btn-container .service-btn:hover:enabled,
.btn-container .service-btn:focus:enabled {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 52, 73);
  cursor: pointer;
}

.btn-container .service-btn:disabled,
.btn-container .active-btn:hover:disabled,
.btn-container .active-btn:focus:disabled,
.btn-container .active-btn:active:disabled {
  color: rgb(50, 66, 92);
  background-color: rgb(255, 255, 255);
}

.slider-2 p {
  width: 280px;
}

.services .delivery {
  background-image: url('../img/slider-2-delivery.png');
  background-repeat: no-repeat;
  background-position: 150px 23px;
  width: 620px;
}

.services .guarantee {
  background-image: url('../img/slider-2-guarantee.png');
  background-repeat: no-repeat;
  background-position: 150px 25px;
  width: 620px;
}

.services .credit {
  background-image: url('../img/slider-2-credit.png');
  background-repeat: no-repeat;
  background-position: 150px 25px;
  width: 620px;
}

.about-us-section {
  margin-bottom: 85px;
}

.info-block {
  position: relative;
  width: 540px;
  min-height: 370px;
  margin-right: 100px;
}

.location-block {
  position: relative;
  width: 300px;
  min-height: 370px;
}

.info-block span,
.location-block span {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.info-block p {
  margin: 0;
  padding: 0;
}

.location-block p {
  width: 180px;
}

.info-block p:nth-of-type(1),
.location-block p {
  margin-top: 23px;
  margin-bottom: 25px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.info-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 21px;
  padding-left: 35px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.info-block li {
  position: relative;
  margin-bottom: 20px;
}

.info-block li:before {
  content: '';
  position: absolute;
  top: 8px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: rgb(238, 54, 67);
}

.info-block a {
  position: absolute;
  bottom: 1px;
  left: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.location-block .map-btn {
  display: inline-block;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.location-block .feedback-btn {
  box-sizing: border-box;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 300px;
  text-align: left;
  padding-left: 64px;
  cursor: pointer;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 31px;
  margin-bottom: 60px;
}

.pagination-list li {
  margin-right: 10px;
}

.pagination-list a {
  display: block;
  box-sizing: border-box;
  width: 38px;
  min-height: 38px;
  padding-top: 12px;
  text-align: center;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border: 1px solid rgb(189, 198, 202);
}

.pagination-list a:active {
  border: 1px solid rgb(238, 54, 67);
}

.pagination-list .current,
.pagination-list .current:hover,
.pagination-list .current:focus,
.pagination-list .current:active {
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  border: 1px solid rgb(238, 54, 67);
}

.pagination-list .next {
  width: 140px;
}

.puncher-info {
  background-color: rgb(242, 246, 248);
  padding-bottom: 69px;
}

.puncher-info span {
  display: block;
  padding-top: 68px;
  padding-bottom: 28px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.puncher-info p {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.main-footer {
  background-color: rgb(50, 66, 92);
}

.main-footer section:first-child {
  margin-bottom: 50px;
}

.main-footer .logo-contacts-block {
  flex-direction: column;
}

.main-footer .logo {
  width: 136px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 21px;
  padding-bottom: 18px;
  margin-bottom: 27px;
  background-color: rgb(238, 54, 67);
  box-shadow: inset 0 -5px 0 rgb(181, 41, 51);
}

.main-footer .logo:hover,
.main-footer .logo:focus {
  background-color: rgb(202, 44, 55);
  box-shadow: inset 0 -5px 0 rgb(154, 33, 42);
}

.main-footer .logo:active {
  background-color: rgb(186, 39, 50);
  box-shadow: inset 0 -5px 0 rgb(142, 30, 38);
}

.main-footer .index-logo:hover,
.main-footer .index-logo:focus,
.main-footer .index-logo:active {
  background-color: rgb(238, 54, 67);
  box-shadow: inset 0 -5px 0 rgb(181, 41, 51);
}

.main-footer .contacts {
  width: 380px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.main-footer-navigation {
  padding-right: 0;
  padding-left: 0;
  margin-top: 20px;
  flex-direction: column;
  justify-content: flex-start;
}

.main-footer-navigation .site,
.main-footer-navigation .products {
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-footer-navigation .site {
  margin-left: 10px;
}

.main-footer-navigation .products {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 35px;
}

.main-footer-navigation a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-footer-navigation a:hover,
.main-footer-navigation a:focus {
  text-decoration: underline;
}

.main-footer-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer .cellar-section {
  background-color: rgb(41, 52, 73);
}

.cellar-section {
  padding-top: 37px;
  padding-bottom: 40px;
}

.main-footer .feedback,
.main-footer .developed-by {
  flex-direction: column;
}

.cellar-section .copyright,
.feedback span,
.developed-by span,
.feedback a,
.developed-by a {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.cellar-section .copyright {
  display: block;
  width: 240px;
  margin-right: 150px;
}

.main-footer-social {
  width: 180px;
  margin-top: -2px;
  margin-right: 70px;
}

.main-footer .feedback {
  width: 160px;
}

.main-footer .developed-by {
  width: 110px;
  margin-left: auto;
}

.social-btn {
  display: block;
  width: 41px;
  height: 41px;
  margin-right: 4px;
  background-color: rgb(33, 42, 58);
  border-radius: 50%;
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
  background-color: rgb(238, 54, 67);
}

.social-btn-vk {
  background-image: url('../img/vk-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-fb {
  background-image: url('../img/fb-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-inst {
  background-image: url('../img/insta-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.feedback a,
.developed-by a {
  color: rgb(255, 209, 128);
}

.feedback a:hover,
.feedback a:focus,
.developed-by a:hover,
.developed-by a:focus {
  text-decoration: underline;
}

.feedback a:active,
.developed-by a:active {
  text-decoration: none;
  color: rgb(238, 54, 67);
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal {
  position: fixed;
  z-index: 10;
}

.modal:not(.visually-hidden) {
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-error:not(.visually-hidden) {
  animation-name: shake;
  animation-duration: 0.8s;
}

.modal .close {
  position: absolute;
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-size: 0;
  width: 21px;
  height: 21px;
  background-color: rgba(0, 0, 0, 0);
}

.modal .close::before,
.modal .close::after {
  content: '';
  position: absolute;
  top: -3px;
  right: 8px;
  width: 4px;
  height: 27px;
  border-radius: 1px;
  background-color: rgb(238, 54, 67);
}

.modal .close::before {
  transform: rotate(-45deg);
}

.modal .close::after {
  transform: rotate(45deg);
}

.modal-feedback {
  z-index: 15;
}

.modal-feedback,
.modal-buy {
  width: 620px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  margin-top: -212px;
  margin-left: -310px;
  border-top: 7px solid rgb(255, 83, 87);
  box-shadow:
    inset 0 -112px 0 rgb(244, 244, 244),
    20px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.modal-feedback .close {
  top: 10px;
  right: 10px;
}

.modal-feedback .write-us {
  position: relative;
  flex-wrap: wrap;
}

.write-us {
  margin-top: 27px;
  margin-bottom: 150px;
  margin-left: 80px;
  margin-right: 80px;
}

.write-us .name {
  margin-right: 20px;
}

.write-us button {
  position: absolute;
  width: 460px;
  bottom: -112px;
  cursor: pointer;
}

.write-us span {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.write-us input::-webkit-input-placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(169, 169, 169);
}

.write-us input {
  padding-left: 15px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(222, 227, 228);
  border-radius: 2px;
}

.name input,
.email input {
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 9px;
  width: 220px;
}

.message input {
  box-sizing: border-box;
  width: 460px;
  padding-top: 7px;
  padding-bottom: 85px;
}

.modal-map {
  top: 50%;
  left: 50%;
  margin-top: -223px;
  margin-left: -470px;
  box-shadow: 0px 0px 16px 0 rgba(47, 42, 43, 0.5);
}

.modal-map iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
}

.modal-map .close,
.modal-buy .close {
  top: 10px;
  right: 9px;
  z-index: 15;
}

.modal-buy img {
  position: absolute;
  top: 48px;
  left: 80px;
}

.modal-buy span {
  display: block;
  padding-left: 179px;
  margin-top: 71px;
  margin-bottom: 185px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.modal-buy .checkout,
.modal-buy .continue {
  box-sizing: border-box;
  width: 220px;
  position: absolute;
  bottom: 36px;
  text-align: left;
  padding-left: 60px;
}

.modal-buy .checkout {
  left: 80px;
  padding-left: 60px;
}

.modal-buy .continue {
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 44px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  right: 80px;
  cursor: pointer;
}
