body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  display: none;
}

.container {
  width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.cards-section {
  margin-bottom: 53px;
}

.main-header {
  background-color: rgb(243, 247, 249);
  background-image: url('../img/gray-background.jpg');
  padding-bottom: 60px;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
}

.main-header .loft-section {
  font-family: 'Cuprum', 'Arial', sans-serif;
  background-color: rgb(41, 52, 73);
}

.loft-section a {
  color: rgb(255, 255, 255);
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.main-header .logo {
  width: 110px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 13px;
  padding-bottom: 7px;
  background-color: rgb(238, 54, 67);
  box-shadow: 0 5px 0 rgb(181, 41, 51);
}

.main-header .logo:hover,
.main-header .logo:focus {
  background-color: rgb(202, 44, 55);
  box-shadow: 0 5px 0 rgb(154, 33, 42);
}

.main-header .logo:active {
  background-color: rgb(186, 39, 50);
  box-shadow: 0 5px 0 rgb(142, 30, 38);
}

.main-header .index-logo:hover,
.main-header .index-logo:focus,
.main-header .index-logo:active {
  background-color: rgb(238, 54, 67);
  box-shadow: 0 5px 0 rgb(181, 41, 51);
}

/* [Вопрос] Как быть с позиционированием инлайновых svg-картинок? */

.loft-section .search-functions,
.loft-section .buy-functions {
  align-items: center;
}

.search-functions .search {
  width: 270px;
}

.search-functions .favorites,
.buy-functions .basket,
.buy-functions .checkout {
  width: 150px;
  text-align: center;
}

.search-functions .search input {
  background-color: inherit;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border: none;
}

/* Это правило не работает: */
.search-functions .search input:active {
  background-color: rgb(255, 255, 255);
}
/*[Вопрос] Подскажи как добиться белого фона input, а также окрашивания
иконки поиска в красный цвет, когда курсор находится в поле ввода? */

.search-functions .search input::-webkit-input-placeholder {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.search-functions .search input::selection {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.search-functions .search:hover,
.search-functions .search:focus,
.search-functions .favorites:hover,
.search-functions .favorites:focus,
.buy-functions .basket:hover,
.buy-functions .basket:focus {
  background-color: rgb(33, 42, 58);
}

.search-functions .favorites:hover svg,
.search-functions .favorites:focus svg,
.buy-functions .basket:hover svg,
.buy-functions .basket:focus svg,
.search-functions .search:hover svg,
/* Это правило не работает: */
.search-functions .search:focus svg {
  fill: rgba(255, 255, 255, 1);
  /* [Вопрос] Как написать css-правило:
  'если .search input:focus, то
  .search:focus svg {fill: rgba(255, 255, 255, 1)}'?
  Может подключить svg внешним файлом фона? */
}

.search-functions .favorites:active,
.buy-functions .basket:active {
  background-color: rgb(22, 29, 41);
  /* [Вопрос] Как сделать прозрачность только тексту ссылки,
  исключая тег svg внутри этой ссылки?
  Может подключить svg внешним файлом фона? */
  opacity: 0.6;
}

.search-functions .favorites:active svg,
.buy-functions .basket:active svg {
  fill: rgba(255, 255, 255, 0.5);
}

.buy-functions .checkout {
  background-color: rgb(99, 166, 62);
}

.buy-functions .checkout:hover,
.buy-functions .checkout:focus {
  background-color: rgb(95, 187, 45);
}

.buy-functions .checkout:active {
  opacity: 0.51;
}

.main-header-brief-section {
  padding-top: 45px;
  padding-bottom: 45px;
}

.main-header-brief-info,
.main-header-contacts {
  align-self: center;
}

.main-header-brief-info {
  width: 200px;
  margin-left: 55px;
  margin-right: 70px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: rgb(238, 54, 67);
}

.main-header-contacts {
  flex-direction: column;
}

.main-header-contacts a {
  width: 264px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 3px solid rgb(255, 255, 255);
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(238, 54, 67);
  text-align: center;
}

.main-header-contacts .address {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(50, 66, 92);
  align-self: center;
}

.user-functions {
  width: 350px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.user-functions-btn {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.user-functions .login {
  width: 120px;
  margin-right: 10px;
}

.user-functions .check-in {
  width: 150px;
}

.user-functions .logout-btn {
  width: 300px;
}

.my-orders,
.account-info {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(50, 66, 92);
  text-decoration: underline;
}

.my-orders {
  margin-left: 60px;
  margin-right: 15px;
}

.account-info {
  margin-left: 15px;
  margin-right: 60px;
}

.user-functions-btn:hover,
.user-functions-btn:focus,
.my-orders a:hover,
.my-orders a:focus,
.account-info a:hover,
.account-info a:focus {
  color: rgb(238, 54, 67);
}

.user-functions-btn:hover svg,
.user-functions-btn:focus svg {
  fill: rgb(50, 66, 92);
}

.user-functions-btn:active,
.my-orders a:active,
.account-info a:active {
  color: rgb(0, 0, 0);
  opacity: 0.3;
  /* [Вопрос] Заливка фона кнопки становится серой, хотя явно
  задаю белый цвет фона. Почему так? Как исправить? */
  background-color: rgb(255, 255, 255);
}

.main-header-navigation .site {
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 5px solid rgb(41, 52, 73);
}

.main-header-navigation .site,
.main-footer-navigation .site {
  background-color: rgb(50, 66, 92);
}

.main-header-navigation .site a {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-header-navigation .site a,
.main-footer-navigation .site a,
.main-footer-navigation .products a {
  display: block;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.main-footer-navigation .products a {
  color: rgb(255, 209, 128);
}

.main-header-navigation .site a:hover,
.main-header-navigation .site a:focus {
  background-color: rgb(41, 52, 73);
}

.main-header-navigation .site a:active {
  opacity: 0.5;
}

.main-header-navigation .site .active:hover,
.main-header-navigation .site .active:focus,
.main-header-navigation .site .active:active,
.main-footer-navigation .site .active:hover,
.main-footer-navigation .site .active:focus,
.main-footer-navigation .site .active:active {
  background-color: rgb(50, 66, 92);
  opacity: 1;
  text-decoration: none;
}

.breadcrumbs {
  margin-top: 25px;
  margin-bottom: 25px;
}

.breadcrumbs li {
  margin-right: 40px;
}

.breadcrumbs a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.page-title {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 28px;
  margin-bottom: 20px;
  background-color: rgb(242, 246, 248);
}

.page-title h1 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
}

.filtration {
  flex-basis: 220px;
  margin-right: 20px;
}

.filtration .filter,
.sort-by {
  background-color: rgb(247, 243, 236);
  margin-bottom: 20px;
}

.filtration .filter span,
.sort-by .sort {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.filtration .price,
.filtration .vendors,
.filtration .power-supply {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.filtration .vendor-filter {
  border-top: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
}

.filtration .vendor-filter label,
.filtration .power-supply-filter label {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.filtration .btn {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 229, 229);
}

.kind-of-sort a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(178, 178, 178);
  text-decoration: none;
  border-bottom: 1px dotted rgb(238, 54, 67);
}

.kind-of-sort a:hover,
.kind-of-sort a:focus {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(238, 54, 67);
}

.kind-of-sort a:active {
  color: rgb(238, 54, 67);
  border-bottom: none;
}

.new-flag-container {
  position: absolute;
  width: 60px;
  height: 59px;
  background-image: url('../img/new-flag.png');
  background-repeat: no-repeat;
}

.product-categories {
  margin-top: 60px;
  margin-bottom: 20px;
}

.product-categories li {
  width: 300px;
  height: 123px;
  margin-right: 20px;
}

.product-categories li:last-child {
  margin-right: 0;
}

.product-categories svg,
.special-offers svg {
  fill: rgb(255, 255, 255);
}

.product-categories h2,
.special-offers h2 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.category-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.1)
}

.category-btn:hover,
.category-btn:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.product-categories .category-btn:active {
  background-color: rgba(0, 0, 0, 0.3)
}

.product-categories .material {
  background-color: rgb(255, 191, 71);
}

.product-categories .instrument {
  background-color: rgb(59, 188, 227);
}

.product-categories .technic {
  background-color: rgb(220, 145, 216);
}

.slider h2 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.slider span {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.red-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
}

.red-btn:hover,
.red-btn:focus {
  background-color: rgb(202, 44, 55);
}

.slider .red-btn:active {
  background-color: rgb(186, 39, 50);
}

.slide {
  width: 620px;
  height: 266px;
}

.puncher {
  background-image: url('../img/slider-puncher.jpg');
  background-image: no-repeat;
}

.drill {
  background-image: url('../img/slider-drill.jpg');
  background-image: no-repeat;
}

.special-offers {
  margin-left: 20px;
}

.special-offers .sale {
  background-color: rgb(142, 215, 143);
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.special-offers .delivery {
  background-color: rgb(255, 192, 71);
  width: 300px;
  height: 123px;
}

.goods {
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods li {
  margin-bottom: 20px;
}

.popular-goods div,
.popular-vendors div {
  background-color: rgb(249, 245, 240);
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  margin-top: 21px;
  margin-bottom: 21px;
}

.popular-goods ul,
.popular-vendors ul {
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-goods h1,
.popular-vendors h1 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
}

.popular-goods li,
.goods li {
  width: 220px;
  height: 318px;
  border: 1px solid rgb(234, 234, 234);
}

.popular-goods .bosch-bfg-9000,
.goods .bosch-bfg-9000 {
  background-image: url('../img/bosch-bfg-9000.jpg');
  background-repeat: no-repeat;
}

.popular-goods .bosch-bfg-3000,
.goods .bosch-bfg-3000 {
  background-image: url('../img/bosch-bfg-3000.jpg');
  background-repeat: no-repeat;
}

.popular-goods .bosch-bfg-6000,
.goods .bosch-bfg-6000 {
  background-image: url('../img/bosch-bfg-6000.jpg');
  background-repeat: no-repeat;
}

.popular-goods .bosch-bfg-2000,
.goods .bosch-bfg-2000 {
  background-image: url('../img/bosch-bfg-2000.jpg');
  background-repeat: no-repeat;
}

.popular-goods h2,
.goods h2 {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.popular-goods .old-price,
.goods .old-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  color: rgb(169, 169, 169);
}

.popular-goods .current-price,
.goods .current-price {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
}

.goods .modal-block a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(99, 166, 62);
  border-bottom: 3px solid rgb(54, 115, 21);
}

.goods .modal-block a svg {
  fill: rgba(255, 255, 255, 0.3);
}

.goods .modal-block a:hover,
.goods .modal-block a:focus {
  background-color: rgb(95, 187, 45);
  border-bottom: 3px solid rgb(54, 115, 21);
}

.goods .modal-block a:hover svg,
.goods .modal-block a:focus svg {
  fill: rgb(255, 255, 255);
}

.goods .modal-block a:active {
  background-color: rgb(81, 133, 52);
  border-bottom: 3px solid rgb(81, 133, 52);
}

.goods .modal-block button {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(50, 66, 92);
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(99, 166, 62);
}

.goods .modal-block button:hover,
.goods .modal-block button:focus {
  border: 3px solid rgb(50, 66, 92);
}

.goods .modal-block button:active {
  color: rgb(50, 66, 92);
  border: 3px solid rgb(50, 66, 92);
  opacity: 0.3;
}

/* Здесь будут правила при наведении на блоки товаров */

.popular-vendors li {
  width: 220px;
  height: 145px;
  border: 1px solid rgb(234, 234, 234);
  margin-bottom: 20px;
}

/* Здесь будут правила при наведении на блоки популярных вендоров */

.services {
  background-color: rgb(243, 247, 249);
  background-image: url('../img/gray-background.jpg');
  margin-top: 85px;
  margin-bottom: 85px;
  padding-top: 65px;
}

.services h1,
.services h2 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.services h1 {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.services h2 {
  font-size: 36px;
  color: rgb(50, 66, 92);
}

.services p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.services .btn-container {
  background-image: url('../img/slider-2-decor.png');
  background-repeat: no-repeat;
  flex-direction: column;
  margin-right: 80px;
}

.btn-container .service-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: 1px solid rgb(234, 234, 234);
}

.btn-container .service-btn:enabled {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 66, 92);
}

.btn-container .service-btn:hover:enabled,
.btn-container .service-btn:focus:enabled {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 52, 73);
  cursor: pointer;
}

.btn-container .service-btn:disabled,
.btn-container .active-btn:hover:disabled,
.btn-container .active-btn:focus:disabled,
.btn-container .active-btn:active:disabled {
  color: rgb(50, 66, 92);
  background-color: rgb(255, 255, 255);
}

.services .delivery {
  background-image: url('../img/slider-2-delivery.png');
  background-repeat: no-repeat;
  width: 280px;
}

.services .guarantee {
  background-image: url('../img/slider-2-guarantee.png');
  background-repeat: no-repeat;
  width: 280px;
}

.services .credit {
  background-image: url('../img/slider-2-credit.png');
  background-repeat: no-repeat;
  width: 280px;
}

.about-us-section {
  margin-bottom: 86px;
}

.info-block span,
.location-block span {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.info-block p,
.location-block p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.info-block ul {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.pagination-list a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(229, 229, 229);
}

.pagination-list a:hover,
.pagination-list a:focus {
  border: 1px solid rgb(189, 198, 202);
}

.pagination-list a:active {
  border: 1px solid rgb(238, 54, 67);
}

.pagination-list .pagination-item-current a {
  color: rgb(255, 255, 255);
  background-color: rgb(238, 54, 67);
  border: 1px solid rgb(238, 54, 67);
}

.puncher-info {
  background-color: rgb(242, 246, 248);
}

.puncher-info span {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.puncher-info p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.main-footer {
  background-color: rgb(50, 66, 92);
}

.main-footer section:first-child {
  margin-bottom: 60px;
}

.main-footer .logo-contacts-block {
  flex-direction: column;
}

.main-footer .logo {
  width: 138px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 27px;
  padding-bottom: 15px;
  background-color: rgb(238, 54, 67);
  box-shadow: inset 0 -5px 0 rgb(181, 41, 51);
}

.main-footer .logo:hover,
.main-footer .logo:focus {
  background-color: rgb(202, 44, 55);
  box-shadow: inset 0 -5px 0 rgb(154, 33, 42);
}

.main-footer .logo:active {
  background-color: rgb(186, 39, 50);
  box-shadow: inset 0 -5px 0 rgb(142, 30, 38);
}

.main-footer .index-logo:hover,
.main-footer .index-logo:focus,
.main-footer .index-logo:active {
  background-color: rgb(238, 54, 67);
  box-shadow: inset 0 -5px 0 rgb(181, 41, 51);
}

.main-footer .contacts {
  width: 380px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

/* [Вопрос] Подскажи почему ul не тянется на всю ширину nav?
Как убрать правый отступ внутри навигации футера:
'.main-footer-navigation .site' и '.main-footer-navigation .products'? */

.main-footer-navigation {
  margin-top: 20px;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid red;
}

.main-footer-navigation .site,
.main-footer-navigation .products {
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid green;
}

.main-footer-navigation .site {
  margin-left: 10px;
}

.main-footer-navigation .products {
  margin-left: 35px;
}

.main-footer-navigation .site a,
.main-footer-navigation .products a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-footer-navigation .site a:hover,
.main-footer-navigation .site a:focus,
.main-footer-navigation .products a:hover,
.main-footer-navigation .products a:focus {
  text-decoration: underline;
}

.main-footer-navigation .site a:active,
.main-footer-navigation .products a:active {
  opacity: 0.5;
  text-decoration: none;
}

.main-footer .cellar-section {
  background-color: rgb(41, 52, 73);
}

.cellar-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.cellar-section .copyright,
.main-footer .feedback span,
.main-footer .developed-by span,
.main-footer .feedback a,
.main-footer .developed-by a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.cellar-section .copyright {
  display: block;
  width: 240px;
  margin-right: 140px;
}

.main-footer-social {
  width: 180px;
  margin-right: 60px;
}

.main-footer .feedback {
  width: 180px;
}

.main-footer .developed-by {
  width: 120px;
  margin-left: auto;
}

.main-footer-social a {
  display: block;
  width: 40px;
  background-color: rgb(33, 42, 58);
  border-radius: 50%;
}

.main-footer-social a:hover,
.main-footer-social a:focus,
.main-footer-social a:active {
  background-color: rgb(238, 54, 67);
}

.main-footer .feedback a,
.main-footer .developed-by a {
  color: rgb(255, 209, 128);
}

.main-footer .feedback a:hover,
.main-footer .feedback a:focus,
.main-footer .developed-by a:hover,
.main-footer .developed-by a:focus {
  text-decoration: underline;
}

.main-footer .feedback a:active,
.main-footer .developed-by a:active {
  text-decoration: none;
  color: rgb(238, 54, 67);
}

.modal-feedback,
.modal-buy {
  border-top: 5px solid rgb(255, 83, 87);
}

.modal-feedback form span {
  display: block;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.modal-feedback form input::-webkit-input-placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(169, 169, 169);
}

.modal-feedback form input {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(222, 227, 228);
}

.modal-buy span {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.modal-buy .white-btn {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
